Blockly.Python['{{entry.name}}'] = function(block) {
  var value_alias = Blockly.Python.valueToCode(block, 'alias', Blockly.Python.ORDER_ATOMIC);
  var code = '    {{entry.method}}  ' + value_alias;
  {% for p in entry.parameters %}var value_{{p.name}} = Blockly.Python.valueToCode(block, '{{p.name}}', Blockly.Python.ORDER_ATOMIC);
  code= code + '  {{p.name}}=value_' + {{p.name}} + '\n';{% endfor %}
  return code;
};