Blockly.Blocks[''{{entry.name}}'] = {
  init: function() {
    this.appendDummyInput()
        .appendField("{{entry.method}}");
    this.appendValueInput("alias")
        .setCheck("String")
        .appendField("alias");
    {% for p in entry.parameters %}
    this.appendValueInput("{{p.name}}")
    .setCheck("{{p.check}}")
    .appendField("{{p.label}}");
    {% endfor %}
    this.setInputsInline(true);
    this.setPreviousStatement(true);
    this.setNextStatement(true);
    this.setColour(290);
    this.setTooltip('{{entry.tooltip}}');
    this.setHelpUrl('{{entry.help}}');
  }
};