<!-- extend from base layout -->
{% extends "boot_base.html" %}
{% block title %}Blockly Tasks{% endblock %}


{% block body %}


<h1>My Tasks</h1>
<div class="bs-example">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>status</th>

                <th>task</th>
                <th>begin</th>
                <th>end</th>

                <th>description</th>
                <th>owner</th>

            </tr>
        </thead>
        <tbody>

            {% for task in tasks %}
            <tr class="{{task.get_display_status()}}">

                {% if task.get_display_status() == 'success' %}
                    <td><a href="/ide/tasks/log/{{task.id}}" class="btn btn-success">OK</a></td>
                 {% else %}
                    <td><a href="/ide/tasks/log/{{task.id}}" class="btn btn-{{task.get_display_status}}">-</a></td>

                {% endif %}

                <td>{{ task.script }}</td>

                <td>{{ task.id }}</td>
                <td></td>
                <td></td>

                <td>{{ task.owner }}</td>

            </tr>

            {% endfor %}

        </tbody>
    </table>
</div>




{% endblock %}