{% extends "boot_base.html" %}
{% block title %}Restop Blockly Documentation{% endblock %}

{% block body %}
  <h1>Restop IDE Documentation</h1>


<div class="bs-example">


    <hr>
	<ul class="nav nav-pills nav-stacked">
        <li><a href="/static/doc/SamplesRessource.html">samples</a></li>
        <li><a href="/static/doc/LiveboxRessource.html">Livebox</a></li>
        <li><a href="/static/doc/TvboxRunner.html">TV box</a></li>
	</ul>
    <hr>

</div>




{% endblock %}
