
{%- for method in methods.iter_methods() %}

Blockly.Blocks['{{ method.type_name }}'] = {
  init: function() {
    this.appendDummyInput()
        .appendField("{{ method.name  }}");
    {%- for field,field_type in method.iter_fields() %}
    this.appendValueInput("{{ field }}")
    .setCheck("{{ field_type }}")
    .appendField("{{ field }}");
    {%- endfor %}

    this.setInputsInline(true);
    this.setPreviousStatement(true);
    this.setNextStatement(true);
    this.setColour(290);
    this.setTooltip('');
    this.setHelpUrl('');
  }
};


Blockly.Python['{{ method.type_name}}'] = function(block) {
  var code= '{{ method.name }}( ';
  {%- for key,value in method.iter_python_arguments() %}
  code= code + '{{ key }}' + {{ value }}
  {%- endfor %}
  code= code + ' )\n';
  return code;
};


{%- endfor %}
