{% extends "base.html" %}

{% block scripts %}
  <script src="/ide/toolbox/dynablocks/tvbox"></script>
  <script src="/ide/toolbox/dynablocks/livebox"></script>

  <script src="/ide/toolbox/scripts/restop.js"></script>
  <script src="/ide/toolbox/scripts/restop_python.js"></script>

{% endblock %}


{% block categories %}

    {% include "toolbox.xml" %}

    <category name="Restop">
      <!--<block type="unittest_restop"></block>-->
      <!--<block type="restop_alias"></block>-->
      <!--<block type="restop_device"></block>-->
      <!--<block type="restop_unit"></block>-->

      <!--  <block type="controls_with"></block> -->
        <!--  <block type="restop_session"></block> -->

        <block type="restop_procedures"></block>
          <block type="unittest_restop">
            <statement name="DO">
              <block type="procedures_callnoreturn">
                <mutation name="unit device">
                  <arg name="device"></arg>
                </mutation>
                <value name="ARG0">
                  <block type="text">
                    <field name="TEXT">device</field>
                  </block>
                </value>
              </block>
            </statement>
          </block>
        <block type="restop_procedures">
            <mutation>
              <arg name="device"></arg>
            </mutation>
            <field name="NAME">do something</field>
            <statement name="STACK">
              <block type="restop_session">
                <value name="MEMBERS">
                  <block type="lists_create_with">
                    <mutation items="1"></mutation>
                    <value name="ADD0">
                      <block type="variables_get">
                        <field name="VAR">device</field>
                      </block>
                    </value>
                  </block>
                </value>
              </block>
            </statement>
          </block>
          <block type="result_should_be"></block>
          <block type="result_value_for_key_should_be"></block>
          <block type="sleep">
            <value name="TIMEOUT">
              <block type="math_number">
                <field name="NUM">1</field>
              </block>
            </value>
          </block>
          <block type="log">
            <value name="NAME">
              <block type="text">
                <field name="TEXT"></field>
              </block>
            </value>
          </block>
          <block type="set_dry_mode">
            <value name="NAME">
              <block type="logic_boolean">
                <field name="BOOL">FALSE</field>
              </block>
            </value>
          </block>
          <block type="abort">
            <value name="NAME">
              <block type="text">
                <field name="TEXT"></field>
              </block>
            </value>
          </block>

    </category>

   <category name="samples">
      {%- for method in methods["samples"].iter_methods() %}
      <block type="{{ method.type_name }}">
      {%- for field,value in method.iter_default_values() %}
        <value name="{{ field }}">
          {{ method.simple_value( value ) | safe }}
        </value>
      {%- endfor %}
      </block>
      {%- endfor %}
    </category>

    <category name="tvbox">
      {%- for method in methods["tvbox"].iter_methods() %}
      <block type="{{ method.type_name }}">
      {%- for field,value in method.iter_default_values() %}
        <value name="{{ field }}">
          {{ method.simple_value( value ) | safe }}
        </value>
      {%- endfor %}
      </block>
      {%- endfor %}
    </category>

     <category name="livebox">
      {%- for method in methods["livebox"].iter_methods() %}
      <block type="{{ method.type_name }}">
      {%- for field,value in method.iter_default_values() %}
        <value name="{{ field }}">
          {{ method.simple_value( value ) | safe }}
        </value>
      {%- endfor %}
      </block>
      {%- endfor %}
    </category>

{% endblock %}