{% extends "bootstrap/base.html" %}


{% block title %}Restop IDE Toolbox{% endblock %}



{% block css %}
{{super()}}

<style>
html, body {
  height: 100%;
  overflow: hidden;
}
body {
  background-color: #fff;
  font-family: sans-serif;
  margin: 0 5px;
}
h1 {
  font-weight: normal;
  font-size: 140%;
}
#blocklyDiv {
  float: right;
  //height: 95%;
  height:  600px;
  width: 69%;
  margin-top: 0px;
}
#importExport {
  //height: 100%;
  height: 480px;
  width: 100%;
}
.fill {
    min-height: 100%;
    //height: 100%;
    height: 400px;
}

.container {
    //margin: 0 5px;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 5px;;
    padding-left: 5px;
    padding-right: 5px;
    //width: 95%;
    width: 100%;
}

.navbar {
    margin-bottom: 10px;
}

#wrap {
  min-height: 100%;
}

#push,
#footer {
    height: 30px;
}


#main
{
overflow:auto;
padding-bottom:150px; /* this needs to be bigger than footer height*/
    min-height: 600px;
    height: 100%;
    margin-top: 0px;
}

</style>

{% endblock %}


{% block js_top %}

<script src="/static/blockly/blockly_uncompressed.js"></script>

<script src="/static/blockly/generators/python.js"></script>
<script src="/ide/toolbox/scripts/unittest_python.js"></script>
<script src="/static/blockly/generators/python/logic.js"></script>
<script src="/static/blockly/generators/python/loops.js"></script>
<script src="/static/blockly/generators/python/math.js"></script>
<script src="/static/blockly/generators/python/text.js"></script>
<script src="/static/blockly/generators/python/lists.js"></script>
<script src="/static/blockly/generators/python/colour.js"></script>
<script src="/static/blockly/generators/python/variables.js"></script>
<script src="/static/blockly/generators/python/procedures.js"></script>
<script src="/static/blockly/generators/python/dicts.js"></script>

<script src="/ide/toolbox/scripts/unittest.js"></script>
<script src="/static/blockly/msg/messages.js"></script>
<script src="/static/blockly/blocks/logic.js"></script>
<script src="/static/blockly/blocks/loops.js"></script>
<script src="/static/blockly/blocks/math.js"></script>
<script src="/static/blockly/blocks/text.js"></script>
<script src="/static/blockly/blocks/lists.js"></script>
<script src="/static/blockly/blocks/colour.js"></script>
<script src="/static/blockly/blocks/variables.js"></script>
<script src="/static/blockly/blocks/procedures.js"></script>
<script src="/static/blockly/blocks/dicts.js"></script>

<script>
'use strict';

var workspace = null;

function start() {
  workspace = Blockly.inject('blocklyDiv',
      {media: '/static/blockly/media/', toolbox: document.getElementById('toolbox')});
}

window.onload = start;


function getTestUrl() {
  var dropdown = document.getElementById('testUrl');
  var url = dropdown.options[dropdown.selectedIndex].value;
  if (!url) {
    url = window.prompt('Enter URL of test file.');
    if (!url) {
      return;
    }
  }
  return url;
}

function getCanvasUrl() {
  var url= getTestUrl();
  url= '/ide/toolbox/canvas/' + url;
  console.log("url:" + url);
  return url
}

function getRunUrl() {
  var url= getTestUrl();
  url= '/ide/toolbox/run/' + url;
  console.log("url:" + url);
  return url
}


function loadXml() {
//  var dropdown = document.getElementById('testUrl');
//  var url = dropdown.options[dropdown.selectedIndex].value;
//  if (!url) {
//    url = window.prompt('Enter URL of test file.');
//    if (!url) {
//      return;
//    }
//  }

  //url = getTestUrl();
  var url= getCanvasUrl();
  if (url) {

    var xmlText = fetchFile(url);
    if (xmlText !== null) {
      fromXml(xmlText);
    }
  }
}


function fetchFile(xmlUrl) {
  try {
    var xmlHttp = new XMLHttpRequest();
    xmlHttp.open('GET', xmlUrl, false);
    xmlHttp.setRequestHeader('Content-Type', 'text/xml');
    xmlHttp.send('');
  } catch (e) {
    // Attempt to diagnose the problem.
    var msg = 'Error: Unable to load XML data.\n';
    if (window.location.protocol == 'file:') {
      msg += 'This may be due to a security restriction preventing\n' +
          'access when using the file:// protocol.\n' +
          'Use an http webserver, or a less paranoid browser.\n';
    }
    alert(msg + '\n' + e);
    return null;
  }
  return xmlHttp.responseText;
}

function fromXml(xmlText) {
  var output = document.getElementById('importExport');
  output.value = xmlText;
  output.scrollTop = 0;
  output.scrollLeft = 0;
  workspace.clear();
  try {
    var xmlDoc = Blockly.Xml.textToDom(xmlText);
  } catch (e) {
    alert('Error parsing XML:\n' + e);
    return;
  }
  Blockly.Xml.domToWorkspace(workspace, xmlDoc);
}

function setOutput(text) {
  var output = document.getElementById('importExport');
  output.value = text;
  output.focus();
  output.select();
}

function toXml() {
  var xmlDom = Blockly.Xml.workspaceToDom(workspace);
  var xmlText = Blockly.Xml.domToPrettyText(xmlDom);
  xmlText = xmlText.replace(/ id="\d+"/g, '');
  setOutput(xmlText);
}


function toPython() {
  var code = Blockly.Python.workspaceToCode(workspace);
  setOutput(code);
}

function toCode(lang) {
  var output = document.getElementById('importExport');
  output.value = Blockly[lang].workspaceToCode(workspace);
}


</script>

<script>
goog.require('goog.dom');
goog.require('goog.net.XhrIo');
goog.require('goog.structs.Map');
goog.require('goog.Uri.QueryData');

function exportTest()
{

	toXml();
	var xml = document.getElementById('importExport').value;

	//toCode('PYTHON');
    toPython();
	var aesl = document.getElementById('importExport').value;

	var test = '[\'test name\',\n \'' +
		xml.replace(/\n/g, '\\n\' + \n \'') +
		'\',\n \'' +
		aesl.replace(/\n/g, '\\n\' + \n \'') +
		'\'],';

	document.getElementById('importExport').value = test;

    var test_content =
    '<!DOCTYPE python-export>' +
    '<network>' +
    '<keywords flag="true"/>' +
    '<node nodeId="1" name="restop">' +
    test +
    '</node>' +
    '</network>';

    var payload = 'file=' + test_content;

    //url= getTestUrl();
    url= getCanvasUrl();

	//goog.net.XhrIo.send('/toolbox/save', function(e)
    // PUT /toolbox/canvas/<name>
    goog.net.XhrIo.send(url, function(e)
	{
		console.log('Received response.');
	}, 'PUT', payload);

}

function run_code()
{

    var url= getRunUrl();
	//toCode('PYTHON');
    toPython();

	var code = document.getElementById('importExport').value.replace(/&/g, '&amp;')
        .replace(/</g, '&lt;')
        .replace(/>/g, '&gt;')
        .replace(/"/g, '&quot;')
        .replace(/'/g, '&apos;');

	var aesl =
		'<!DOCTYPE python-source>' +
		'<network>' +
		'<keywords flag="true"/>' +
		'<node nodeId="1" name="restop">' +
		code +
		'</node>' +
		'</network>';

	var payload = 'file=' + aesl;

	//goog.net.XhrIo.send('/toolbox/run', function(e)
    goog.net.XhrIo.send(url, function(e)
	{
		console.log('Received response.');
	}, 'PUT', payload);
}

function run()
{

    exportTest();

    var url= getRunUrl();
	var payload = '';
    goog.net.XhrIo.send(url, function(e)
	{
		console.log('Received response.');
	}, 'PUT', payload);
}
</script>

{{super()}}
{% endblock %}






{% block navbar %}
<nav class="navbar navbar-default" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#admin-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <a class="navbar-brand" href="#">Restop Blockly</a>

        </div>
        <!-- navbar content -->
        <div class="collapse navbar-collapse" id="admin-navbar-collapse">
            <ul class="nav navbar-nav">
                <ul class="nav navbar-nav">
                {% for item in nav.top %}
                    <li class="{{ 'active' if item.is_active else '' }}">
                        <a href="{{ item.url }}">{{ item.label }}</a>
                    </li>
                {% endfor %}
                </ul>
            </ul>

        </div>
  </nav>

{% endblock %}



 {% block container %}
<div id="main" class="container">

  <div id="blocklyDiv"></div>

  <xml id="toolbox" style="display: none">
      {% block categories %}
      {% endblock %}
  </xml>

  <table height="95%" width="30%"><tr><td valign="top">
    <!--<h3>Blockly Generator Tests</h3>-->

    <p>
      <select id="testUrl">
          <option value="default">Default</option>
          {% block canvas_list %}
        <option value="samples">samples</option>
        <option value="livebox">livebox</option>
        <option value="restop">restop</option>
          {% endblock %}
        <option value="">Other...</option>
      </select>
      <input type="button" value="Load" onclick="loadXml()">
      <input type="button" value="save" onclick="exportTest()">
      <input type="button" value="run" onclick="run()">
    </p>

    <p>
      Generate:
      <input type="button" value="XML" onclick="toXml()">
      <!--<input type="button" value="JavaScript" onclick="toJavaScript()">-->
      <input type="button" value="Python" onclick="toPython()">

      <!--<input type="button" value="Dart" onclick="toDart()">-->
    </p>
    <!--
    <p>
      Save:
      <input type="button" value="save" onclick="">
    </p>
    -->
  </td></tr><tr><td height="99%">
    <textarea id="importExport" readonly="readonly" wrap="off"></textarea>
  </td></tr></table>
</div>

{% endblock %}
