{% extends "bootstrap/base.html" %}
{% block title %}Base{% endblock %}

{% block navbar %}
<nav class="navbar navbar-default" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#admin-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <a class="navbar-brand" href="#">Restop Blockly</a>

        </div>
        <!-- navbar content -->
        <div class="collapse navbar-collapse" id="admin-navbar-collapse">
            <ul class="nav navbar-nav">
                <ul class="nav navbar-nav">
                {% for item in nav.top %}
                    <li class="{{ 'active' if item.is_active else '' }}">
                        <a href="{{ item.url }}">{{ item.label }}</a>
                    </li>
                {% endfor %}
                </ul>
            </ul>

        </div>
  </nav>

{% endblock %}


{% block body %}
  <h1>Restop Blockly Homepage</h1>

{% endblock %}
